<h2 class="text-center">Venta de servicios por reservacion y sin reservacion</h2>

<div class="row mt-4 align-items-center">
    <div class="col-md-6">
        <div class="registerSale">
           
                <h2 class="h2 text-center py-2">Venta con reservacion</h2>
                <div class="row">
                    <div class="col-md-6">
                        <select id="srReservation" class="ml-5 form-group">
                            <option selected>--Reservacion a Nombre--</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-info ml-5 form-group" id="srRegister">Buscar</button>
                    </div>
                </div>
       
           
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <select id="srEmploye" class="form-control">
                            <option selected>--Empleado--</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <select id="srService" class="form-control">
                            <option selected>--Elija servicio-</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="ml-4">Descuento:</label>
                        <input type="text" class="form-control" id="srDiscount">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="ml-4">Cantidad Pagada:</label>
                        <input type="text" class="form-control" id="srPay">
                    </div>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Limpiar</button>
                <button type="submit" class="btn btn-warning" id="btnCreateSR">Registrar Venta</button>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="registerSale">
       
                <h2 class="h2 text-center py-2">Venta sin reservacion</h2>
                
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <select id="ssEmploye" class="form-control">
                            <option selected>--Empleado--</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <select id="ssService" class="form-control">
                            <option selected>--Elija servicio-</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="ml-4">Descuento</label>
                        <input type="text" class="form-control" id="ssDiscount">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="ml-4">Cantidad Pagada</label>
                        <input type="text" class="form-control" id="ssPay">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label>Sucursal</label>
                    <select id="ssStore" class="form-control">
                        <option selected>Elija sucursal:</option>
                    </select>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Limpiar</button>
                <button type="submit" class="btn btn-warning" id="btnCreateSale">Registrar Venta</button>
            </div>
        </div>
    </div>
</div>



<h2 class="text-center mt-4">Registro de Ventas por producto</h2>

<div class="row mt-4 align-items-center">
    <div class="col-md-6">
        <div class="registerSale">
            <h2 class="h2 text-center py-2">Registro Venta de producto  </h2>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="ml-4">Producto:</label>
                        <select id="spProduct" class="form-control">
                            <option selected>Elija Producto:</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="ml-4">Tienda:</label>
                        <select id="spStore" class="form-control">
                            <option value="">--Elija una Tienda--</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="ml-4">No Productos:</label>
                        <input class="form-control" id="spQuantity" >
                    </div>
                    <div class="form-group col-md-6">
                        <label class="ml-4">Cantidad Pagada:</label>
                        <input type="text" class="form-control" id="spPay" >
                    </div>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Limpiar</button>
                <button type="submit" class="btn btn-warning" id="btnspRegister">Registrar  Ventar</button>
            </div>
        </div>
    </div>
</div>


