<div class="row">
    <div class="col-md-12">
        <h2>Catalogo de Reservaciones</h2>
    </div>
</div>

<table class="table table-hover table-responsive" id="Reservations">
    <thead>
        <tr>
            <th>No</th>
            <th>Nombre Cte</th>
            <th>Apellidos Cte</th>
            <th>Email Cte</th>
            <th>Reservacion</th>
            <th>Servicio</th>
            <th>Tienda</th> 
            <th>Fecha</th>
            <th>Estatus</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
