<div class="container">
    <div class="row  mt-5 py-5 align-items-center" >
         <div class="p-2 col-md-6">
                <img src="~/Images/Muestra.png" class="rounded float-lef img-fluid" alt="...">
          </div>
          <div class="col-md-6">
            <h1 class="text-center">¿Quienes Somos?</h1>
            <p class="d-flex text-center font-weight-bold">En la Barbería The Pepes Barber Shop rescatamos el arte de las antiguas barberías y la experiencia que en ellas se vivía.
                Conjuntamos tradiciones, servicios de altos estándares de calidad e higiene, y los mejores productos de grooming y shaving.

                Aquí encontrarás ese espacio que hemos perdido los hombres, donde cortarse el pelo y afeitarse se convierten
                en una terapia de amigos y relajación, más que en un hábito.

                Sillas de barbero, espuma, toalla caliente y navaja libre… regresa el ritual del hombre.</p>
        </div>
    </div>
</div>


<div class="relleno">

</div>
