<div class="container">
    <div class="d-flex flex-row  mt-5 py-5 align-items-center">
        <div class="p-2"><img src="~/Images/Muestra.png" class="rounded float-lef img-fluid" alt="..."></div>
        <div class="p-2 d-flex flex-column">

            <h1 class="text-center">¿Quienes Somos?</h1>

            <p class="d-flex text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius velit quibusdam officiis libero sit ea fuga maiores unde, quod quas eos eum quos eveniet. Esse eveniet inventore, quos harum minus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, neque. Maiores eos sequi quas magnam quae tenetur, commodi enim necessitatibus, veritatis molestiae natus ut est amet ex tempore neque consectetur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, eos. Aliquid cupiditate optio similique, quisquam a suscipit modi ipsa minima, ut aspernatur consectetur adipisci nihil reprehenderit iure. Veritatis, cupiditate maxime.</p>
        </div>

    </div>
</div>


<div class="relleno">

</div>
