


<div class="container">
    <div class="row align-items-center mt-5">
        <div class="col-sm-12 col-md-6 ">
            <h1 class="text-center">Ven y conoce a  The Pepe´s</h1>
            <div class="card contacto" style="width: 90%;">
                <img class="card-img-top" src="~/Images/Servicio.jpg" alt="Imagen The Barber store">
                <div class="card-body text-right">
                    <h3 class="card-title" >Sucursal Iztapalapa</h3>
                    <p class="card-text">Ven y Visitanos te aseguramos calidad en nuestros servicios y productos... </p>
                    <p class="card-text horario" >Abrimos de L-D con un Horario de 10am a 6pm</p>
                    <a href="~/Home/Service" class="btn btn-info boton">Conoce nuestros Servicios</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 mt-5 ">
            <div class="mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15058.96330010671!2d-99.03487838467416!3d19.337049564954338!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xecda3730f5c980ac!2sThe+Barber+Shop!5e0!3m2!1ses!2smx!4v1522564640228" width="525" height="718" frameborder="0" style="border:0" allowfullscreen align="middle"></iframe>
            </div>
        </div>
    </div>
</div>


