
.container-fluid{
    padding: 0;
}

nav,footer{
    background-color:black;
}


.navbar-brand{
    background: white;
    border-radius: 40%;
}


.nav-item{
    font-size: 1.2rem;
}

.logo-svg{
    width: 200px;
    color: white;
}

.fondo{
    background-color: #eee;
}
/*
section{
    height: 1000px;
    width: 80%;
    margin: auto;
    background: green;
}
    */

.servicios{
    border: 1px dashed #f5183b;  
}

.ver-mas{
    height: 100%;
    float: right;
}

.footer-copyright{
    font-size: 1.3rem;
    color:white;
}


.relleno {
    height: 200px;
    width: 100%;
    background: transparent;
}


.contacto{
    font-size: 1.2rem !important;
}

.mapa{
    box-sizing : border-box;
}


.horario, .btn-servicios{
    font-weight:bold !important;
}

.btn-servicios{
    font-size: 2rem;
}

.FormLogin{
    width: 90%;
    margin: 0 auto;
}